{% extends "base.html" %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead fw-normal text-white-50 mb-0">Know more about MAC</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
        <div class="col-8">
            <div class="d-flex align-items-center justify-content-center">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti incidunt cumque, odio quam similique minima, voluptas ipsam nostrum consequatur assumenda quibusdam voluptatem? Laudantium soluta eligendi excepturi sapiente ut, dolorem nihil possimus cumque voluptates nemo magni ea voluptate, quidem nesciunt totam!
        </div>
        </div>
        </center>
    </div>
</div>

{% endblock content %}